@import "./styles.css";

body {
    background-image: url("/public/assets/fundo-admin-posts.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.painel {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 7%;

    width: 60%;
    max-width: 1152px;
    height: auto;

    border: 1px solid white;

    padding-top: 10px;
    padding-bottom: 10px;

    align-items: center;

}

.titulo-texto {
    font-weight: bold;
    font-size: 30px;
}
.titulo {
    display: flex;
    justify-content: center;
}


h1,h2,h3,h4,p {
    color: white;
    
}

.input-de-busca input {
    border: none;
    outline: none;
    background: transparent;
}

.componentes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    width: 80%;
    
    

}

.tabela {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.interacoes {
    display: flex;
    justify-content: space-between;
    
}

.header-tabela,
.linha-tabela {
    display: grid;


    grid-template-columns:
        0.5fr
        1fr
        2fr
        1fr;

    align-items: center;

    gap: 20px;

    padding: 15px 20px;
    justify-items: center;
}

.tabela * {
    margin: 0;
}

.header-tabela {
    background-color: gray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30px;
}

.linha-tabela {
    border-bottom: 1px solid white;
}


.botao-criar-usuario {
    background-color: #FF6600;
    border-radius: 100px;
    display: flex;
    align-items: center;
        
    
}



.input-de-busca {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    padding-inline: 10px;
    width: 400px;
    justify-content: space-between;

}

.acoes {
    display: flex;
    align-items: center;
    gap: 10px;

}
.icone-acao {
    width: 25px;
    height: 25px;
}

.carrossel {
    display: flex;
}

.seta-esquerda {
     border: none;
    outline: none;
    background: transparent;
}

.seta-direita {
     border: none;
    outline: none;
    background: transparent;
}


