@import "./styles.css";

.telaFooter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.rodape {
    background-color: var(--grey-100);
    color: var(--white-100) !important;
    padding: 40px 60px;
    font-family: var(--font-quicksand);
    margin-top: auto;
}

.rodape p, .rodape h3{
    color: var(--white-100) !important;
}


.acima {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acima h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}


.redes {
    display: flex;
    gap: 15px;
    font-size: 32px;
    cursor: pointer;
}

.redes ion-icon{
    color: var(--white-100);
}

.redes ion-icon:hover {
    color: var(--dark-orange-100);
    transition: 0.3s;
}

.contato {
    text-align: right;
}

.Logo5 {
    width: 100px;
    height: 108px;
    object-fit: contain;
}

.infoContato p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 18px;
    margin: 10px 0;
    font-weight: 400;
}


.linha {
    border: none;
    height: 1px;
    background-color: var(--white-100);
    opacity: 0.3;
    margin: 40px 0;
}


.abaixo {
    display: flex;
    justify-content: space-between;
}

.abaixo p {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.abaixo p:hover {
    color: var(--dark-orange-100);
}


.textoMissaoHover,
.textoVisaoHover,
.textoValoresHover {
    display: none;
    color: var(--dark-orange-100);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
}


.rodape:has(.buttonMissao:hover, .buttonVisao:hover, .buttonValores:hover) .Logo5 {
    display: none;
}


.rodape:has(.buttonMissao:hover) .textoMissaoHover { display: block; }
.rodape:has(.buttonVisao:hover) .textoVisaoHover { display: block; }
.rodape:has(.buttonValores:hover) .textoValoresHover { display: block; }


@media (max-width: 768px) {
    .rodape {
        padding: 40px 20px;
    }
    
    .Logo5 {
        width: 60px;
        height: 65px;
    }

    .acima {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .logo {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 30px 0;
        width: 100%;
    }

    .redes {
        justify-content: center;
    }

    .contato {
        text-align: center;
    }

    .infoContato p {
        justify-content: center;
    }

    .abaixo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .textoMissaoHover,
    .textoVisaoHover,
    .textoValoresHover {
        font-size: 14px;
    }
}