@import "./styles.css";

* {
	color: var(--white-100);
	/* outline: 1px solid blue; */
}

/* html {
    overflow-x: hidden;
} */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	position: relative;

	width: 100%;
	gap: 13vw;
	/* padding-bottom: 20%; */
	background: var(--bg-landing-page);
	/* background-color: var(--orange-100); */
	overflow-x: hidden;
	padding-bottom: 8%;
	/* border: 1px solid red; */
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid white; */
}

a {
	font-weight: 500;
	font-size: 1.8rem;
}

h1 {
	font-size: 4rem;
}

#btn-posts {
	background-color: var(--orange-100);
}

#btn-sobre {
	background-color: var(--white-25);
}

/* -------IMAGENS--------- */

#bg-basket {
	position: absolute;
	z-index: 0;
	right: 0;
	top: 30%;
	width: 30%;
	filter: invert(1);
    opacity: 0.4;
}

#bg-ball {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	width: 25%;
	height: auto;
    opacity: 0.4;
}

/* --------HERO-SECTION---------- */

.hero-section {
	width: 100%;
	height: 90vh;
	box-sizing: border-box;
	/* height: fit-content; */

	align-items: baseline;
	gap: 20px;

	padding: 10%;
	padding-bottom: 28%;

	background: url("/public/assets/landing-page-images/bg-wide2.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.hero-section h1 {
	font-size: 600%;
}

.hero-section p {
	font-size: large;
	font-weight: 500;
	max-width: 72ch;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#call-to-action {
	display: flex;
	gap: 0.6rem;
}




/* ---------POSTS-PREVIEW--------- */

.posts {
	width: 100%;
	justify-content: space-around;
	gap: 40px;

	/* padding: 20px 0 60px 0; */
    padding: 4rem 0;

	box-shadow: 0px 20px 20px var(--pearl-grey-50);

	/* margin: 10% 0 10% 0; */
	/* height: 80vh; */
}

.posts h1 {
	text-align: center;
	padding: 0 10%;
}

.carrossel {
	width: 100%;
	display: flex;
	justify-content: space-between;

	padding: 0 3rem;

	gap: 20px;
	overflow: hidden;
}

/* navegacao */

.chevette {
	background: none;
}
.chevette > ion-icon {
	font-size: 4rem;
	transition: all 120ms ease-in-out;
}
.chevette > ion-icon:hover {
	color: var(--white-50);
	transition: all 120ms ease-in-out;
}

.dots-container > input {
    border: 0;
    background: var(--white-50);
}


/* ------------ */

.slider-content {
	height: auto;

	display: flex;
    gap: 1.5rem;

	/* align-items: center; */
    overflow: hidden;
}


/* ------------ */

.card {
    /* width: 400px; */
	height: 20rem;
    aspect-ratio: 16 / 9;
	position: relative;

    display: flex; 
	flex-shrink: 0;
	
    border-radius: 1rem;

	padding: 0;
	
	background: var(--pearl-grey-100);
    text-decoration: none; 
    overflow: hidden; 
    cursor: pointer;
}

.card-imagem,
.card > img {
    width: 100%;
    height: 100%;
	/* min-width: 300px; */
    object-fit: cover;
    display: block;
}

.card.mostrar {
	opacity: 1;
	transform: translateX(0);
}

.card-footer {
    position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2rem 2rem;
	transition: opacity 0.3s ease;
	background: linear-gradient(0deg, var(--pearl-grey-100), transparent);
}

.card-titulo-fixo {
	color: var(--white-100);
	font-size: 2rem;
	overflow: hidden;
	max-height: 4em;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.card-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background: var(--pearl-grey-80);
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 0.2rem;
	
	padding: 24px;

	opacity: 0;
	overflow: hidden;
	
	backdrop-filter: blur(2px);
	transition: opacity 0.3s ease;
}

.card-titulo-overlay {
	color: var(--white-100);
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 2rem;
	max-height: 2rem;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.card-autor {
	color: var(--white-100);
	font-weight: bold;
	margin-bottom: 0.2rem;
	font-size: medium;
}

.card-descricao {
	color: var(--white-100);
	font-size: 1rem;
	overflow: hidden;
    max-height: 2.5rem;

	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card:hover .card-footer {
	opacity: 0;
}

.card:hover .card-overlay {
	opacity: 1;
}

/* ----------QUEM-SOMOS---------- */

.about {
	flex-direction: row;
	flex-wrap: wrap;

	/* padding: 0 2rem; */

	gap: 3rem;

	/* align-items: start; */
	justify-content: center;

	height: fit-content;
	width: 100%;

    margin: 5rem 0;
	/* border: 1px solid palegreen; */
}

.about p {
	text-align: justify;
	font-weight: 600;
}

.about img {
	width: 500px;
	z-index: 2;
}

.about .text {
	width: 45ch;
	height: 100%;
	margin: 30px 0 30px 0;
}

/* =============media============== */

@media screen and (max-width: 760px) {
	#bg-basket {
		width: 40%;
		top: 22%;
	}

	body {
		gap: 90px;
		padding-bottom: 30%;
	}

	.hero-section {
		padding-bottom: 60%;
	}

	.about .text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.about h1 {
		text-align: center;
	}
	.about img {
		width: 450px;
	}
}

@media screen and (max-width: 460px) {
	#bg-basket {
		width: 80%;
		top: 22%;
	}

	.hero-section {
		padding-bottom: 80%;
		/* margin-bottom: 25%; */
	}

	.about {
		flex-wrap: wrap;
		justify-content: center;
	}
	.about .text {
		justify-content: center;
		width: 80%;
	}
	.about h1 {
		text-align: center;
	}
}
