@import "./styles.css";

/*----- Lista-De-Posts ----*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  margin: 0px;
  background-image: var(--linear-orange-gradient3);
  background-attachment: fixed;
  background-size: cover;
}

section {
  display: flex;
  height: auto;
  padding: 0 1.5rem;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
}

#secao-barra {
  justify-content: space-between;
}

#search {
  display: flex;
  align-items: center;
  background-color: var(--white-100);
  width: 100%;
  max-width: 45em;
  height: 4em;
  border-radius: 2em;
  color: var(--white-100);
  padding: 0 1.5em;
  gap: 0.5rem;
  position: relative;
}

#search-text {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--black-100);
  font-family: var(--font-quicksand);
  padding-right: 30px;
}

#search-text::placeholder {
  font-size: 1.2rem;
  font-family: var(--font-quicksand);
  color: var(--black-100);
}

.divisor-vertical {
  font-family: var(--font-quicksand);
  font-size: 1.8rem;
  color: var(--black-100);
  margin-right: 35px; 
}

#icone-busca {
  position: absolute; 
  height: 4.5em; 
  width: auto;
  right: -45px;
  top: -5px;    
  z-index: 10;
}

#botao-filtro {
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--linear-orange-gradient3);
  border: none;
  margin-left: 15px;
  flex-shrink: 0;
}

#botao-filtro .material-symbols-outlined {
  font-size: 3.5rem;
  color: var(--black-100);
}

.material-symbols-outlined {
  display: flex;
  line-height: 1;
  vertical-align: middle;
}

#container-titulo {
  border-top: solid 0.4rem var(--black-100);
  padding-top: 20px;
  padding: 0 40px;
  align-items: center;
}

#secao-titulo h1 {
  font-size: 6rem;
  color: var(--pearl-grey-100);
  font-style: var(--font-quicksand);
}

#container-posts {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  justify-items: center;
  row-gap: 50px;
  column-gap: 60px;
  width: 100%;
  padding: 40px 10px;
}

@media (max-width: 1150px) {
  #container-posts {
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 740px) {
  #container-posts {
    grid-template-columns: repeat(1, 350px);
  }
}

.card {
  width: 100%;
  max-width: 350px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pearl-grey-100);
  background-image: url(../assets/Dinosaur.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  border-radius: 16px;
  box-shadow: 6px 5px 4px 0 rgba(88, 46, 5, 0.29);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  transition: opacity 0.3s ease;
}

.card-titulo-fixo{
  color: var(--white-100);
  font-family: var(--font-bebas-neue);
  margin: 0;
  font-size: 3rem;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 23, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-titulo-overlay {
  color: var(--white-100);
  font-size: 300%;
  margin-bottom: 5px;
  font-family: var(--font-bebas-neue);
}

.card-autor {
  color: var(--white-100);
  font-weight: bold;
  margin-bottom: 10px;
  font-family: var(--font-quicksand);
  font-size: 150%;
}

.card-descricao {
  color: var(--white-100);
  font-size: 100%;
  font-family: var(--font-quicksand);
}

.card:hover .card-footer {
  opacity: 0;
}

.card:hover .card-overlay {
  opacity: 1;
}


#container-paginacao{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 40px 0;
}

#paginacao{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#paginacao button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pontos {
    display: flex;
    gap: 5px; 
}

.ponto .material-symbols-outlined{
    font-size: 1rem;
    color: var(--black-100);
}

#pontos .ponto.ativo{
  color: var(--black-100);
}

.seta .material-symbols-outlined {
    font-size: 2rem;
    color: var(--pearl-grey-100);
}

/*----- Lista de Posts ---- */
