@import "./styles.css";

/*----- Lista-De-Posts ----*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  margin: 0px;
  background-image: var(--linear-orange-gradient1);
  background-attachment: fixed;
  background-size: cover;
}

section {
  display: flex;
  height: auto;
  padding: 0 1.5rem;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
}

#secao-barra {
  justify-content: space-between;
}

#search {
  display: flex;
  align-items: center;
  background-color: var(--white-100);
  width: 100%;
  max-width: 45em;
  height: 4em;
  border-radius: 2em;
  color: var(--white-100);
  padding: 0 1.5em;
  gap: 0.2rem;
}

#search-text {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--black-100);
  font-family: var(--font-quicksand);
}

#search-text::placeholder {
  font-size: 1.2rem;
  font-family: var(--font-quicksand);
  color: var(--black-100);
}

#botao-filtro {
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--linear-orange-gradient2);
  border: none;
}

#botao-filtro .material-symbols-outlined {
  font-size: 3.5rem;
  color: var(--black-100);
}

.material-symbols-outlined {
  display: flex;
  line-height: 1;
  vertical-align: middle;
}

#container-titulo {
  border-top: solid 0.2rem var(--black-100);
  border-bottom: solid 0.2rem var(--black-100);
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#secao-titulo h1 {
  font-size: 3.5rem;
  color: var(--pearl-grey-100);
}

#container-posts {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 40px;
  justify-content: center;
  justify-items: center;
  row-gap: 50px;
  justify-content: center;
  width: 100%;
  padding: 40px 10px;
}

@media (max-width: 1150px) {
  #container-posts {
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 740px) {
  #container-posts {
    grid-template-columns: repeat(1, 350px);
  }
}

.card {
  width: 350px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pearl-grey-100);
  background-image: url(../assets/Dinosaur.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  border-radius: 16px;
  box-shadow: 6px 5px 4px 0 rgba(88, 46, 5, 0.29);
}


#container-paginacao{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 40px 0;
}

#paginacao{
  display: flex;
  gap: 5px;
}

.pontos {
  display: flex;
  gap: 10px; 
}

.ponto {
  cursor: pointer;
  color: var(--black-100);
  font-size: 1.2rem;
  opacity: 0.6;
}

  .ponto.ativo{
    opacity: 1;
    
}

.seta{
  cursor: pointer;
  color: var(--black-100);
  font-size: 0.5rem;
}

/*----- Lista de Posts ---- */
