@import url(./styles.css);

#containerTabelaPostsToda {
  width: 100%;
  overflow-x: auto;
}

#BodyModalFormularioPosts {
  background-image:
    linear-gradient(rgba(0, 0, 128, 0.5), rgba(0, 0, 128, 0.5)),
    url("../assets/bg_images/bg_table_posts.png");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#TituloDePostsADM {
  color: var(--white-100);
  display: flex;
  justify-content: center;
  font-family: var(--font-quicksand);
  font-optical-sizing: auto;
  font-weight: 1000;
  font-size: 2.5rem;
}

#PesquisaECriarPostADM {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2vh auto;
  box-sizing: border-box;
  padding: 0 4vw;
}

.containerTabelaPostsAdmin {
  margin: auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  padding-bottom: 8vh;
  border-radius: 16px;
  border: 1px solid var(--white-100);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  box-sizing: border-box;
  padding: 0 8vh;
}

th,
td {
  text-align: center;
  padding: 1.5vh;
  color: var(--white-100);
  font-family: var(--font-quicksand);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

td {
  border-bottom: 1px solid var(--white-100);
  position: relative;
}

#IdTabelaPostsADM,
#TítuloTabelaPostsADM,
#AutorTabelaPostsADM,
#DataTabelaPostsADM,
#AçõesTabelaPostsADM {
  background-color: var(--white-25);
}

#IdTabelaPostsADM {
  border-top-left-radius: 10px;
}

#AçõesTabelaPostsADM {
  border-top-right-radius: 10px;
}

#IdTabelaPostsADM,
#TítuloTabelaPostsADM,
#AutorTabelaPostsADM,
#DataTabelaPostsADM {
  width: 18%;
}

#AçõesTabelaPostsADM {
  width: 28%;
}

#CaixaDePesquisa {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.5vh;
  padding-right: 16px;
  width: 20%;
  border-radius: 16px;
}

#PesquisaPostsTabelaADM {
  width: 100%;
  height: 24px;
  padding: 0.8vh;
  border-radius: 16px;
  border: none;
  font-family: var(--font-quicksand);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#btnCriarPostADM {
  background-color: var(--orange-100);
  color: var(--white-100);
  border: none;
  padding: 0.8vh 2vh;
  border-radius: 16px;
  font-family: var(--font-quicksand);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease;
}

#btnCriarPostADM:hover {
  background-color: var(--dark-orange-100);
}

.btnVisuPostADM,
.btnEditPostADM,
.btnDeletePostADM {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.trespontos {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.3s ease;
  color: var(--white-100);
  display: none;
}

ion-icon {
  color: var(--white-100);
}

ion-icon:hover {
  color: var(--white-25);
}

ion-icon[name="search-outline"] {
  color: var(--black-100);
}

i {
  color: var(--white-100);
}
i:hover {
  color: var(--white-25);
}
/* ----------------- Estilização do Modal ----------------- */

/* ----------------- Modal de Criar Post ----------------- */
/* ------------------------- Corpo do Modal ------------------------- */
#modal-criar-post {
  box-sizing: border-box;
  width: 90%;
  max-width: 400px;
  height: 95vh;
  background:
    radial-gradient(
      136.68% 167.85% at 140.67% 11.14%,
      #eea600 0%,
      #ef6400 100%
    ),
    linear-gradient(
      200deg,
      rgba(255, 255, 255, 0.5) 43.04%,
      rgba(187, 187, 187, 0.5) 80.67%
    );
  border-radius: 25px;
  display: none;
  padding: 5px 30px;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
/* ------------------------- Header do Modal ------------------------- */
/* *{
  border: 1px solid blue;
} */
#modal-criar-titulo {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}

#modal-criar-titulo h3 {
  font-family: var(--font-bebas-neue);
  font-size: 2em;
  letter-spacing: 1px;
  color: var(--white-100);
  white-space: nowrap;
  margin: 0.2em;
}

#modal-criar-imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 30px 20px;
  gap: 10px;
  border-radius: 15px;
  border: 4px dashed var(--white-100);
  cursor: pointer;
}

#modal-criar-imagem h4 {
  color: var(--white-100);
  font-size: 1em;
  max-width: 6em;
  text-align: center;
  font-family: var(--font-quicksand);
}

#modal-criar-data {
  display: flex;
  width: 90%;
  height: 10%;
  text-align: center;
  justify-content: flex-end;
}

#modal-criar-data h4 {
  margin: 0;
  font-size: 1em;
  color: var(--white-50);
}
/* ------------------------- Informações do Modal ------------------------- */
#modal-criar-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  gap: 5px;
}

.campo-input {
  display: flex;
  gap: 10px;
  width: 93%;
  border-radius: 8px;
  background-color: var(--light-orange-75);
  align-items: center;
  height: auto;
  padding: 10px;
  border: 1px solid var(--white-100);
}

.campo-input input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--white-50); 
  font-size: 1em; 
  font-family: var(--font-quicksand);
  text-decoration: underline;
}

#modal-criar-info-titulo,
#modal-criar-info-descricao,
#modal-criar-info-autor {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--white-50);
    text-decoration: underline;
}

#modal-criar-info-titulo::placeholder,
#modal-criar-info-descricao::placeholder{
  color: var(--white-50);
  font-size: 1em;
  font-family: var(--font-quicksand);
  text-decoration: underline;
}


.campo-input ion-icon {
  font-size: 1em;
}
/* ------------------------- Botões do Modal ------------------------- */
#modal-criar-botoes {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#modal-criar-botoes button {
  display: flex;
  border: none;
  cursor: pointer;
  flex-direction: end;
  padding: 10px;
}

#btn-modal-criar-cancelar {
  background-color: transparent;
}

#btn-modal-criar-cancelar h3 {
  color: var(--white-100);
  font-family: var(--font-quicksand);
  text-decoration: underline;
  font-size: 1em;
}

#btn-modal-criar-confirmar {
  border-radius: 25px;
  background: var(--dark-blue-100);
  box-shadow: -3px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#btn-modal-criar-confirmar h3 {
  font-family: var(--font-quicksand);
  color: var(--white-100);
  font-size: 1em;
}

/* ----------------- Tela ----------------- */
#tela {
  width: 100vw;
  height: 100vh;
  background-color: var(--black-100);
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
/* ----------------- Modal de Excluir Post ----------------- */
#modal-excluir-post {
  width: 90%;
  max-width: 400px;
  height: fit-content;
  background: var(--linear-red-gradient);
  border-radius: 25px;
  display: none;
  padding: 30px;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

@media (max-width: 480px) {
  #modal-excluir-post {
  width: 70%;
  }
}

/* ----------------- Header do Modal de Excluir Post ----------------- */
#modal-excluir-titulo {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}

#modal-excluir-titulo ion-icon {
  font-size: 2em;
  color: var(--dark-orange-100);
}

#modal-excluir-titulo h3 {
  font-family: var(--font-bebas-neue);
  font-size: 2em;
  color: var(--white-100);
  white-space: nowrap;
  margin: 0.2em;
}
/* ----------------- Descrição do Modal de Excluir Post ----------------- */
#modal-excluir-descricao h4 {
  font-family: var(--font-quicksand);
  font-size: 1em;
  color: var(--white-100);
  width: 100%;
  margin: 0;
}

#modal-excluir-descricao h4:first-child {
  margin-bottom: 20px;
}
/* ----------------- Botões do Modal de Excluir Post ----------------- */
#modal-excluir-botoes {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#modal-excluir-botoes button {
  display: flex;
  border: none;
  cursor: pointer;
  flex-direction: end;
  border-radius: 15px;
  color: var(--white-100);
  font-family: var(--font-quicksand);
  font-size: 1em;
  padding: 5px 10px;
}

#btn-modal-excluir-cancelar {
  background: transparent;
  text-decoration: underline;
}

#btn-modal-excluir-confirmar {
  background-color: var(--dark-orange-100);
}