@import "./styles.css";


/* ---------------- exemplo -------------------- */

/* classes de view */

.open {
    opacity: 1;
    transition: opacity 240ms ease-in;
    pointer-events: auto;
}

.close {
    opacity: 0;
    transition: opacity 140ms ease-in;
    pointer-events: none;
}

/* ------------------ BOTOES ------------------ */

/* button {
    background-color: var(--orange-100);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: large;
    color: var(--white-100);
}

button:hover {
    background: var(--white-80);
    color: var(--orange-100);
    transition: color background 160ms ease-out;
    cursor: pointer;
} */

.testBtns {
    display: flex;
    gap: 10px;
}



.cancelBtn {
    background: none;
    color: var(--light-orange-100);
    text-decoration: underline;
}
.cancelBtn:hover {
    background: none;
    color: var(--white-100);
}

 .cancelBtn {
    color: var(--light-orange-100);
    background-color: none;
}

.cancelBtn:hover {
    color: var(--white-100);
}

/* ----------- input styling ------------- */


.inputGroup input{
    color: var(--white-100);
    font-weight: 600;
    font-size: medium;

    background: none;

    border-radius: 8px;
    padding: 4%;

    text-wrap: nowrap;

    outline: none;
    border: none;
    transition: background 120ms ease;
}
.inputGroup > *:hover {
    cursor: pointer;
}

.inputGroup:hover {
    background: var(--white-25);
    transition: background 120ms ease;
    cursor: pointer;
    border-radius: 8px;
}

.inputGroup > *:focus {
    cursor: text;
}


.inputGroup input::placeholder {
    color: var(--white-50);
    text-decoration: underline;
}

/* -------- modal container paizao ------------- */

.modal-container {
    /* background: var(--linear-grey-50); */
    /* background: var(--linear-orange-gradient2); */
    background: var(--linear-blue-80);
    z-index: 2;
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    backdrop-filter: blur(15px);
}


/* ----------------- modal view padrão ----------------- */
.modalUser {
    /* visibility: hidden; */
    position: absolute;
    z-index: 4;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    padding: 2rem;
    
    background: var(--bg-modal);
    
    border-radius: 16px;
}

/* parte superior */
.modalUser #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
}


/* foto de perfil */
.userProfilePicture {
    min-width: 200px;
    min-height: auto;
    aspect-ratio: 0.9;
    background: var(--white-25);
    
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userProfilePicture:hover {
    background-color: var(--white-25);
}

.imgProfPic {
    width: 100%;
    height: 100%;
    max-width: 200px;
    object-fit: cover;
    
    border-radius: 10px;
    
}

.imgProfPic:hover {
    filter: brightness(0.75);
    cursor: pointer;
}

/* dados user */
.userInfo {
    /* box-sizing: border-box; */
    
    display: flex;
    flex-direction: column;
    
    min-width: 100%;
    width: fit-content;
    /* border: 1px solid red; */
    gap: 10px;
}

.inputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
}

/* ----- warning modais -----*/

.warningModal {
    text-wrap: wrap;
    max-width: 45ch;
    background: var(--linear-red-gradient);
    align-items: baseline;
    gap: 2rem;
    font-weight: 600;
}

.warningModal em {
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}

.footerButtons {
    display: flex;
    
    align-self: end;
}

.footerButtons > * {
    transition: all 120ms ease;
}

.footerButtons :first-child {
    background: 0;
    text-decoration: underline;
}
.warningModal .footerButtons :last-child:hover {
    filter: drop-shadow(0 0 0px black);
    color: red;
    background-color: var(--white-100);
    transition: all 120ms ease-out;
}


.warningHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.warningHeader ion-icon {
    font-size: 64px;
    color: var(--orange-100);
    
}

/* --------------------- */





ion-icon {
    min-height: 1rem;
    min-width: 1rem;
    /* border: 1px wheat solid; */
    padding: 0;
}