@import "./styles.css";

/* ------- geral (mudar dps) --------- */

button {
    background-color: var(--orange-100);
    border: none;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    filter: drop-shadow(0 0 4px var(--pearl-grey-100));
    /* border: 2px solid var(--white-100); */
    transition: filter 300ms ease-out;
    cursor: pointer;
}

body {
    background: var(--pearl-grey-100);
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 20px;
}

body * {
    color: var(--white-100);
}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------- exemplo -------------------- */

.userExample {
    display: flex;
    flex-direction: column;
    background-color: var(--blue-100);
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
    gap: 16px;
}
.userExample * {
    color: var(--white-100);
}


/* ----------- modal visualizar user ------------- */

/* modal geral */
.modalUser {
    box-sizing: content-box;

    background: var(--linear-grey-50);
    border-radius: 20px;
    
    padding: 5%;
    

    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
#viewModal {
    display: none;
}

/* parte superior */
.modalUser #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modalUser #header > button{
    background: 0;
}


/* foto de perfil */
#userProfilePicture {
    min-width: 200px;
    min-height: auto;
    aspect-ratio: 0.9;
    background: var(--white-25);
    
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* dados user */
.userView {
    /* box-sizing: border-box; */

    display: flex;
    flex-direction: column;

    min-width: 100%;
    width: fit-content;
    border: 1px solid red;
    gap: 10px;
}

.userView > span {
    background-color: var(--white-50);
    border-radius: 8px;
    padding: 4%;

    text-wrap: nowrap;
    
    min-width: 100%;
    width: fit-content; 
}

#createModal, #editModal {
    display: none;
}

.usernameInput, 
.emailInput,
.passwordInput {
    color:black;
    background-color: var(--white-50);
    border-radius: 8px;
    padding: 4%;

    text-wrap: nowrap;

    outline: none;
    border: none;
    
    

    
}


