@import "./styles.css";

.telaNavbar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.headerNavbar {
    width: 100%; 
    height: 148px;
    background-color: var(--grey-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.Logo5 {
    width: 100px;
    height: 108px;
    object-fit: contain;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    color: var(--color-light-text);
    text-decoration: none;
    font-family: var(--font-quicksand);
    font-size: 32px;
    font-weight: 500;
}


.buttonLogin {
    background-color: var(--dark-orange-100);
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.buttonLogin:hover {
    background-color: var(--orange-100); 
}

.hamburguer {
    display: none;
    color: var(--color-light-text);
    font-size: 40px;
    cursor: pointer;
}

.menuMobile {
    display: none; 
}

@media (max-width: 768px) {
    
    .headerNavbar {
        height: 80px;
        padding: 0 20px;
    }

    .Logo5 {
        width: 60px;
        height: 65px;
    }


    .menu {
        display: none; 
    }


    .hamburguer {
        display: block; 
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--grey-100);
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out; 
    }

    .menuMobile.aberto {
        transform: translateX(0);
    }


    .logoMobile {
        width: 100px;
        margin-bottom: 20px;
    }

    .menuMobile a {
        color: var(--color-light-text);
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        font-family: var(--font-quicksand);
    }

    .menuMobile .buttonLogin {
        background-color: var(--dark-orange-100);
        padding: 10px 40px;
        border-radius: 50px;
    }

    .buttonFecharMenu {
        position: absolute;
        bottom: 50px; 
        font-size: 50px;
        cursor: pointer;
    }

    .buttonFecharMenu ion-icon{
        color: white;
    }
}