:root {
    --white-100: #FFFFFF;
    --white-25: #FFFFFF40;
    --offwhite-100: #F5EEE9;

    --orange-100: #FF6600;
    --dark-orange-100: #D35400;

    --blue-100: #0066CC;
    --dark-blue-100: #000080;
    
    --grey-100: #333333;
    --dark-grey-100: #1E1A18;
    --pearl-grey-100: #050517;
    --black-100: #000000;

    --color-light-text: var(--white-100);
    --color-dark-text: var(--black-100);

    --linear-orange-gradient1: linear-gradient(45deg,#FF6600,#FFC299,#FF6600);
    --linear-orange-gradient2: linear-gradient(46deg, #FEA163,#FEA163);

    --font-bebas-neue: "Bebas Neue", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
}


*, *::before, *::after{
    box-sizing: content-box;
    color: var(--color-dark-text);
}

h1, h2, h3 {
    font-family: var(--font-bebas-neue);
}

h4, h5, h6, p {
    font-family: var(--font-quicksand);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}



/*----- FIM ROOT -----*/