@import "./styles.css";

/* * {
    border: 1px solid palegreen;
} */

main {
    padding: 5%;
}
main > * {
    color:aliceblue;
}

body {
    display: flex;

    background-color: black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    position: sticky;
    gap: 10%;

    min-height: 100vh;
    width: fit-content;
    padding: 2%;

    background-color: var(--grey-100);
    /* border: 1px solid rebeccapurple; */
    overflow: hidden;
    transition: all 0.8s ease;
}

.sidebar *, .closed-sidebar * {
    color: var(--white-100);
}

.sidebar button, .closed-sidebar button {
    background: 0;
    border: 0;
    /* font-weight: 600; */
    cursor: pointer;
}

/* ----------fechada----------- */

.closed-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    position: sticky;
    gap: 10%;

    min-height: 100vh;
    width: 5%;
    
    padding-top: 2%;
    /* padding: 2%; */

    /* background-color: var(--grey-100); */
    /* border: 1px solid rebeccapurple; */
    overflow: hidden;
    transition: width 0.8s ease, position 0.8s ease;
}

.closed-sidebar .setinha {
    width: 100%;
    background-color: var(--grey-100);
    border-radius: 0 20px 20px 0;
    transition: background-color 0.8s;
}

.closed-sidebar #toggle-sidebar-btn {
    display: flex;
    align-self: center;

    /* justify-content: center; */
    
    padding: 15% 20%;

    rotate: 180deg;

    transition: 0.3s ease-in-out;
}

.closed-sidebar .user-space-sidebar {
    display: none;
    transition: none;
}

.closed-sidebar .admin-sidebar {
    display: none;
    transition: none;
}

.closed-sidebar .logout-sidebar {
    display: none;
}



/* --------imagens---------- */

#setinha {
    width: 50%;
    transition: all 0.8s ease;
}

#setinha:hover {
    scale: 1.2;
}

#user-icon {
    width: 20%;
}

#chevette {
    width: 0.3rem;
    /* height: 1rem; */
}

/* ----------upper-part------------ */

.top-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 60%;
}

/* -------head----------- */

.top-top-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.setinha {
    align-self: flex-end;
    transition: all 0.8s ease;
}


.user-space-sidebar {
    display: flex;
    gap: 5%;
    padding-right: 2rem;
}

.user-space-sidebar * {
    cursor: pointer;
}


#user-name {
    font-weight: bold;
}
#user-name:hover {
    color: var(--white-50);
}

#cargo {
    color: var(--white-50);
}

/* -------buttons------- */

.admin-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-sidebar > p {
    color: var(--white-50);
}

.item-sidebar {
    display: flex;
    align-items: center;

    box-sizing: content-box;

    gap: 0.6rem;
    /* border: 1px solid wheat; */
}

.content-sidebar > ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.content-sidebar > ul * {
    list-style: none;
    text-decoration: none;
}

.content-sidebar > ul * :hover {
    color: var(--white-50);
    transition: all 0.3s ease;
    scale: 1.04;
}




/* -------logout------- */

.logout-sidebar {
    display: flex;
    justify-self: flex-end;
    box-sizing: content-box;
}

#logout-btn {
    color: var(--orange-100);
    font-size: large;
    font-weight: 600;
}

#logout-btn:hover {
    color: var(--dark-orange-100);
}