@import "./styles.css";

/* * {
    border: 1px solid palegreen;
} */

.sidebar {
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    position: fixed;
    gap: 10%;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: fit-content;
    padding: 5rem 2%;

    background: var(--pearl-grey-80);
    backdrop-filter: blur(15px);
    /* border: 1px solid rebeccapurple; */
    overflow: hidden;
    /* transition: all 180ms ease; */
    transition:
        width 180ms ease,
        position 180ms ease; 
}

.sidebar *,
.closed-sidebar * {
    color: var(--white-100);
}

.sidebar button,
.closed-sidebar button {
    background: 0;
    border: 0;
    /* font-weight: 600; */
    cursor: pointer;
}

/* icones */

.item-sidebar ion-icon {
    font-size: 1.6rem;
}

/* ----------fechada----------- */

.closed-sidebar {
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    position: fixed;
    gap: 10%;
    top: 0;
    left: 0;

    min-height: 100vh;
    width: fit-content;
    padding: 5rem 2%;

    background: var(--pearl-grey-80);
    backdrop-filter: blur(15px);
    /* border: 1px solid rebeccapurple; */
    overflow: hidden;

    /* padding: 2%; */

    /* background-color: var(--grey-100); */
    /* border: 1px solid rebeccapurple; */
    /* overflow: hidden;
    */
    transition:
        width 180ms ease,
        position 180ms ease; 
}

.closed-sidebar .setinha {
    width: 100%;
    border-radius: 0 20px 20px 0;
    transition: background-color 180ms;
}

.closed-sidebar #toggle-sidebar-btn {
    display: flex;
    align-self: center;

    /* justify-content: center; */

    padding: 15% 20%;

    rotate: 180deg;

    transition: 0.3s ease-in-out;
}

.closed-sidebar .item-sidebar > p, 
.closed-sidebar .user-space-sidebar,
.closed-sidebar #logout-btn > p{
    display: none;
}

/* --------icons---------- */

.setinha {
    width: 50%;
    transition: all 180ms ease;
    padding: 0;
}

.setinha * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setinha:hover {
    scale: 1.2;
}
#user-icon {
    font-size: 2.5rem;
}


/* ----------upper-part------------ */

.top-sidebar {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 60%;
}

/* -------head----------- */

.top-top-sidebar {
    display: flex;
    align-items: center;
    /* gap: 20%; */
}

.setinha, #toggle-sidebar-btn {
    align-self: flex-end;
    font-size: 2.6rem;
    transition: all 180ms ease;
}

.user-space-sidebar {
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
    width: 100%;
}
.user-space-sidebar div {
    width: 100%;
}

.user-space-sidebar * {
    cursor: pointer;
}

#user-name {
    font-weight: bold;
}
#user-name:hover {
    color: var(--white-50);
}

#cargo {
    color: var(--white-50);
}

/* -------buttons------- */

.admin-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-sidebar > p {
    color: var(--white-50);
}

.item-sidebar {
    display: flex;
    align-items: center;

    box-sizing: content-box;

    gap: 0.6rem;
    /* border: 1px solid wheat; */
}

.content-sidebar a {
    width: fit-content;
}

.content-sidebar > ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.content-sidebar > ul * {
    list-style: none;
    text-decoration: none;
}

.content-sidebar > ul * :hover {
    color: var(--white-50);
    transition: all 0.3s ease;
    scale: 1.04;
}

/* -------logout------- */

.logout-sidebar {
    display: flex;
    justify-self: flex-end;
    box-sizing: content-box;
}

#logout-btn {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

#logout-btn * {
    color: var(--orange-100);
    font-size: 1.6rem;
    font-weight: 600;
}

#logout-btn:hover {
    color: var(--dark-orange-100);
}
