@import "./styles.css";



.sidebar {
    display: flex;
    flex-direction: column;

    position: absolute;
    gap: 10%;

    height: 100%;
    width: 25%;
    padding: 5% 2% 0 5%;

    background-color: var(--grey-100);
    border: 1px solid rebeccapurple;
}

.sidebar * {
    color: var(--white-100);
    font-size: 1.05rem;
}

.sidebar button {
    background: 0;
    border: 0;
    /* font-weight: 600; */
    cursor: pointer;
}



/* --------imagens---------- */

#setinha {
    width: 50%;
}

#user-icon {
    width: 20%;
}

/* ----------upper-part------------ */

.top-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 60%;
}



/* -------head----------- */

.top-top-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

#close-btn {
    align-self: flex-end;
    
}


.user-space-sidebar {
    display: flex;
    gap: 5%;
    padding-right: 2rem;
}

.user-space-sidebar * {
    cursor: pointer;
}

#user-name {
    font-weight: bold;
}
#cargo {
    color: var(--white-50);
}

/* -------admin------- */

.admin-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin-sidebar > p {
    color: var(--white-50)
}

.content-sidebar > ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5%;
}


/* -------logout------- */

.logout-sidebar {
    display: flex;
    justify-self: flex-end;
    box-sizing: content-box;
}

#logout-btn {
    color: var(--orange-100);
    font-weight: 600;
}