<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/admin-users.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "conteudo">
    <div class = "painel">
        <div class = "componentes">
            
            <h4>Tabela de Usuários</h4>
            <div class = "interacoes">
                <div class = "input-de-busca">
                    <input type = "text" placeholder="Pequisar por usuário">
                    <button class = "botao-lupa">
                        <img src = "/public/assets/lupa.png">  
                    </button>
                </div>
                <button class = "botao-criar-usuario">
                    <img class = "icone-plus" src = "/public/assets/plus.png">
                    <p>Criar Usuário</p>
                </button>
            </div>

            <div class="tabela">

    <div class="header-tabela">
        <h4>ID</h4>
        <h4>Usuário</h4>
        <h4>E-mail</h4>
        <h4>Ações</h4>
    </div>

    <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela">loremipsumdasilva</p>

        <p class="info-tabela">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>
     <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela">loremipsumdasilva</p>

        <p class="info-tabela">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>
     <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela">loremipsumdasilva</p>

        <p class="info-tabela">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>
     <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela">loremipsumdasilva</p>

        <p class="info-tabela">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>

</div>

    </div>
    </div>
</body>
</html>