<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/admin-users.css">
    <link rel = "sc">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>


    <div class = "conteudo">
    <div class = "painel">
        <div class = "componentes">
            <div class="titulo">
            <p class = "titulo-texto">TABELA DE USUÁRIOS</p>

            </div>
            <div class = "interacoes">
                <div class = "input-de-busca">
                    <input class = "elemento-input" type = "text" placeholder="Pesquisar">
                    <div class = "botao-lupa">
                        <img src = "/public/assets/lupa.png">  
                    </div>
                </div>
                <button class = "botao-criar-usuario">
                    <img class = "icone-plus" src = "/public/assets/plus.png">
                    <p class = "texto-criar-usuario">CRIAR USUÁRIO</p>
                </button>
            </div>

            <div class="tabela">

    <div class="header-tabela">
        <p class = "headers-texto">ID</p>
        <p class = "headers-texto">Usuário</p>
        <p class = "headers-texto email">E-mail</p>
        <p class = "headers-texto">Ações</p>
    </div>

    <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela username">loremipsumdasilva</p>

        <p class="info-tabela email">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
           
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>
        <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela username">loremipsumdasilva</p>

        <p class="info-tabela email">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
           
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>
    <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela username">loremipsumdasilva</p>

        <p class="info-tabela email">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
           
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>
         <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela username">loremipsumdasilva</p>

        <p class="info-tabela email">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
           
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>
           <div class="linha-tabela">
        <p class="info-tabela">1</p>

        <p class="info-tabela username">loremipsumdasilva</p>

        <p class="info-tabela email">
            loremipsumdasilva@gmail.com
        </p>

        <div class="acoes">
           
            <img class="icone-acao" src="/public/assets/eye.png">
            <img class="icone-acao" src="/public/assets/pencil.png">
            <img class="icone-acao" src="/public/assets/trash.png">
        </div>
    </div>

</div>

    </div>

    <div class = "carrossel">
        <button class = "seta-esquerda">
            <img src="/public/assets/seta-esquerda.png" alt="">
        </button>
    <div class = "paginacao">
        <img class= "ponto" src = "/public/assets/ponto-ativo.png">
        <img class = "ponto"src = "/public/assets/ponto-inativo.png">
        <img class = "ponto"src = "/public/assets/ponto-inativo.png">
    </div>

    <button class = "seta-direita">
            <img src="/public/assets/seta-direita.png"  alt="">
        </button>
    </div>
    </div>
        <script src="/public/js/admin-users.js"></script>
</body>
</html>