<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dunk Bit's Sidebar</title>
    <link rel="icon" href="/public/assets/Logo_dunkbits.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/public/css/sidebar.css" />
  </head>
  <body>
    <section>
      <img id="setinha" src="/public/assets/ArrowLeft.svg"/>
      <div id="user-space">
        <img id="user-icon" src="/public/assets/PersonCircle.svg"/>
        <div id="user-text">
          <p id="user-name">Lorem Ipsum</p>
          <p id="cargo">admin</p>
        </div>
      </div>
    </section>
    <section id="admin-options">
      <p>Admin</p>
      <button id="dashboard-btn">> Acessar Dashboard</button>
      <button id="adm-posts-btn">> Gerenciar Posts</button>
      <button id="adm-users-btn">> Gerenciar Usuários</button>
    </section>
    <section id="logout">
      <button id="logout-btn">Sair</button>
    </section>
  </body>
  </html>
  