<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../public/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <section id="secao-navbar">
      <div id="navbar">
        <button id="logout">
          <span class="material-symbols-outlined">logout</span>
          LOGOUT
        </button>
      </div>
    </section>

    <section id="locomocao">
      <button id="lista-usuarios">
        <span class="material-symbols-outlined">account_circle</span>
        LISTA DE USUÁRIOS (ADMIN)
      </button>
      <button id="tabela-posts">
        <span class="material-symbols-outlined">dynamic_feed</span>
        TABELA DE POSTS (ADMIN)
      </button>
    </section>
  </body>
</html>
