<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="/public/css/modais-usuarios.css" />
  </head>
  <body>
    <div class="userExample">
      <h2>Lorem Ypsum Bits JR</h2>
      <div class="modalButtons" id="modalHead">
        <button id="viewUser">Visualizar</button>
        <button id="newUser">Criar</button>
        <button id="editUser">Editar</button>
        <button id="deleteUser">Excluir</button>
      </div>
    </div>

    <div class="modalUser" id="viewModal">
      <span id="header">
        <h1>PERFIL DE USUÁRIO</h1>
        <button id="closeUserView">X</button>
      </span>
      <div id="userProfilePicture"><img src="link" /></div>
      <div class="userView" id="userInfo">
        <div class="userView">
          <input
            type="text"
            class="usernameInput"
            placeholder="Username"
            value="joaosilva"
            readonly
          />
          <input
            type="text"
            class="emailInput"
            placeholder="E-mail"
            value="joaosilva@gmail.com"
            readonly
          />
          <input
            type="password"
            class="passwordInput"
            placeholder="Senha"
            value="senha"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="modalUser" id="createModal">
      <span id="header">
        <h1>CRIAR USUÁRIO</h1>
        <button id="closeCreateView">X</button>
      </span>
      <div id="userProfilePicture"><img src="link" /></div>
      <div class="userView">
        <input type="text" class="usernameInput" placeholder="Username" />
        <input type="text" class="emailInput" placeholder="E-mail" />
        <input type="password" class="passwordInput" placeholder="Senha" />
      </div>
      <div class="userButtons">
        <button>CRIAR</button>
      </div>
    </div>

    <div class="modalUser" id="editModal">
      <span id="header">
        <h1>EDITAR USUÁRIO</h1>
        <button id="closeEditView">X</button>
      </span>
      <div id="userProfilePicture"><img src="link" /></div>
      <div class="userView">
        <input
          type="text"
          class="usernameInput"
          placeholder="Username"
          value="joaosilva"
        />
        <input
          type="text"
          class="emailInput"
          placeholder="E-mail"
          value="joaosilva@gmail.com"
        />
        <input
          type="password"
          class="passwordInput"
          placeholder="Senha"
          value="senha"
        />
      </div>
      <div class="userButtons">
        <button>SALVAR ALTERAÇÕES</button>
      </div>
    </div>
    <script src="/public/js/modais-usuarios.js"></script>
  </body>
</html>
