<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="/public/css/modais-usuarios.css" />
  </head>
  <body>
    <div class="userExample">
      <h2>Lorem Ypsum Bits JR</h2>
      <div class="modalButtons" id="modalHead">
        <button id="viewUser">Visualizar</button>
        <button id="newUser">Criar</button>
        <button id="editUser">Editar</button>
        <button id="deleteUser">Excluir</button>
      </div>
    </div>

    <div class="modalViewUser">
      <span id="header">
        <h1>PERFIL DE USUÁRIO</h1>
        <button id="closeUserView">X</button>
      </span>
      <div id="userProfilePicture"><img src="link"></div>
      <div class="userView" id="userInfo">
        <span id="userName">Lorem Ypsum Bits Jr</span>
        <span id="userMail">lorinhoYupii-jrbeats@exemplão.com.br</span>
        <span id="userPassword">****************************************</span>
      </div>
    </div>

    <!-- <div class="modalCreateUser">
        <div class="modalInputs" id="new">
            <input type="text" />
            <input type="text" />
            <input type="text" />
        </div>
        <div class="modalButtons" id="bottom">
            <button>Criar Usuário</button>
            <button>Cancelar</button>
        </div>
    </div> -->
  </body>
</html>
