<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin; Moderação de posts</title>
    <link rel="stylesheet" href="/public/css/admin-posts.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "conteudo">
    <div class = "painel">
        <div class = "componentes">
            
            <h4>Tabela de Usuários</h4>
            <div class = "interacoes">
                <div class = "input-de-busca">
                    <input type = "text" placeholder="Pequisar por usuário">
                    <button class = "botao-lupa">
                        <img href = "/public/assets/lupa.png">  
                    </button>
                </div>
                <button>
                    <img href = "/public/assets/plus.png">
                    <p>Criar Usuário</p>
                </button>
            </div>

            <div class = "tabela">
                <div class = "header-tabela">
                    <h4>ID</h4>
                    <h4>Usuário</h4>
                    <h4>E-mail</h4>
                    <h4>Ações</h4>
                </div>
                <div class = "linha-tabela">
                    <div class = "infos-row">
                        <div class = "infos-1">
                            <div class = "infos-2">
                                <p class = "info-tabela">1</p>
                                <p class="info-tabela">loremipsumdasilva</p>
                            </div>
                            <p class = "info-tabela">loremipsumdasilva@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "carrossel"></div>

        </div>
    </div>
    </div>
</body>
</html>