<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FOOTER</title>
        <link rel="stylesheet" href="../../../public/css/footer.css" />
    </head>
    <body class="telaFooter">
        <footer class="rodape">
            <div class="acima">
                <div class="social">
                    <h3>REDES SOCIAIS</h3>
                    <div class="redes">
                        <ion-icon name="logo-instagram"></ion-icon>
                        <ion-icon name="logo-facebook"></ion-icon>
                        <ion-icon name="logo-twitter"></ion-icon>
                    </div>
                </div>
                <div class="logo">
                    <img
                        src="../../../public/assets/logo_dunkbits.png"
                        alt="Logo do Site"
                        class="logo_dunkbits"
                    />
                    <span class="textoMissaoHover">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</span
                    >
                    <span class="textoVisaoHover">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </span>
                    <span class="textoValoresHover">
                        Morbi feugiat felis nec turpis laoreet euismod. Donec
                        rutrum leo vitae massa cursus</span
                    >
                </div>

                <div class="contato">
                    <h3>CONTATO</h3>
                    <div class="infoContato">
                        <p>(00) 00000-0000</p>
                        <p>exemplo@gmail.com</p>
                    </div>
                </div>
            </div>

            <hr class="linha" />

            <div class="abaixo">
                <p class="buttonMissao">MISSÃO</p>
                <p class="buttonVisao">VISÃO</p>
                <p class="buttonValores">VALORES</p>
            </div>
        </footer>
    </body>
    <script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
</html>
