<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Individual</title>
    <link rel="stylesheet" href="/public/css_files/styles.css">
</head>
<body>
    <main>
        <section class = "conteudo">
            <div class = "imagem-post">
                <img class = "imagem-post-obj" src = "/public/assets/sonic_basquete.png">
            </div>
            <div class = "texto-do-conteudo-do-post">
                <div class="titulo">
                    <h1>
                        Lorem Ipsum
                    </h1>
                </div>
            <div class = "descricao">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
                    <div class = "botoes-de-compartilhar">
                <a>
                    <img class = "compartilhar-post" src = "/public/assets/social-media-logos/icons8-whatsapp-72.png">
                </a>
                <a>
                    <img class = "compartilhar-post" src = "/public/assets/social-media-logos/icons8-instagram-72.png">
                </a>
                <a>
                    <img class = "compartilhar-post" src = "/public/assets/social-media-logos/icons8-facebook-messenger-100.png">
                </a>
                <a>
                    <img class = "compartilhar-post" src = "/public/assets/social-media-logos/icons8-twitter-144.png">
                </a>
        
            </div>
            </div>
    
            
        </section>
        <section class = "sessao-de-comentarios">
            <div class = "caixa-de-comentarios">
                <input type="text" id = "input-comentario" placeholder="Digite seu comentário">
                <img id = "botao-de-enviar" src = "/public/assets/social-media-logos/icons8-enviado-100.png">
            </div>
            <div class = "lista-de-comentarios">
                <div class = "comentario">
                <div class = "foto-de-perfil">
                    <img>
                </div>
                <div class = "nome-de-usuario">
                    user
                </div>
                <div class = "texto-do-comentario">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
                <div class = "comentario">
                <div class = "foto-de-perfil">
                    <img>
                </div>
                <div class = "nome-de-usuario">
                    user
                </div>
                <div class = "texto-do-comentario">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
                <div class = "comentario">
                <div class = "foto-de-perfil">
                    <img>
                </div>
                <div class = "nome-de-usuario">
                    user
                </div>
                <div class = "texto-do-comentario">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            </div>
            
        </section>
    </main>
</body>
</html>