<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Posts</title>

    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>
<body>

    <div class="container-pai">
    
        <div class="secao-busca"> 
             <input type="text" 
             id="campo-busca" 
             placeholder= "SEARCH">

        </div>

        <div class="secao-posts">
            <h1>POSTS RECENTES</h1>
        </div>


    </div>
</body>
</html>