<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Posts</title>
    <link rel="stylesheet" href="../../../public/css/lista-posts.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <section id="secao-barra">
      <div id="search">
        <label for="search-text">
          <span class="material-symbols-outlined">search</span>
        </label>

        <input type="text" id="search-text" placeholder="SEARCH" />
      </div>
      <button id="botao-filtro">
        <span class="material-symbols-outlined">menu</span>
      </button>
    </section>

    <section id="container-titulo">
      <div id="secao-titulo">
        <h1 id="posts-recentes">POSTS RECENTES</h1>
      </div>
    </section>

    <section id="container-posts">
          <div class="card card1"></div>
          <div class="card card2"></div>
          <div class="card card3"></div>
          <div class="card card4"></div>
          <div class="card card5"></div>
          <div class="card card6"></div>
          </div>
    </section>
    
    <section id="container-paginacao">
  <div id="paginacao">
    <button class="seta seta-esquerda">
      <span class="material-symbols-outlined">chevron_left</span>
    </button>
    
    <div id="pontos">
      <button class="ponto ativo">
        <span class="material-symbols-outlined">fiber_manual_record</span>
      </button>
      <button class="ponto">
        <span class="material-symbols-outlined">fiber_manual_record</span>
      </button>
      <button class="ponto">
        <span class="material-symbols-outlined">fiber_manual_record</span>
      </button>
    </div>

    <button class="seta seta-direita">
      <span class="material-symbols-outlined">chevron_right</span>
    </button>
  </div>
</section>
  </body>
</html>
