<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de Posts</title>
  <link rel="stylesheet" href="../../../public/css/lista-posts.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
  <section id="secao-barra">
    <div id="search">
      <label for="search-text">
        <span class="material-symbols-outlined">search</span>
      </label>

      <input type="text" id="search-text" placeholder="SEARCH" />
      <span class="divisor-vertical">|</span>
      <img src="../../../public/assets/Png Basketball.png" alt="Logo Basketball" id="icone-busca">
    </div>
    <button id="botao-filtro">
      <span class="material-symbols-outlined">filter_alt</span>
    </button>
  </section>

  <section id="container-titulo">
    <div id="secao-titulo">
      <h1 id="posts-recentes">POSTS RECENTES</h1>
    </div>
  </section>

  <section id="container-posts">
    <div class="card card1">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card2">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card3">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card4">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card5">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card6">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card7">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card8">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card9">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card10">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card11">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card12">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card13">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card14">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card15">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card16">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card17">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>
    </div>
    <div class="card card18">
      <div class="card-footer">
        <h2 class="card-titulo-fixo">TÍTULO</h2>
      </div>

      <div class="card-overlay">
        <h2 class="card-titulo-overlay">TÍTULO</h2>
        <p class="card-autor">Autor</p>
        <p class="card-descricao">Lorem ipsum is placeholder text commonly used in the graphic.</p>
      </div>

  </section>

  <section id="container-paginacao">
    <div id="paginacao">
      <button class="seta seta-esquerda">
        <span class="material-symbols-outlined">chevron_left</span>
      </button>


      <div id="pontos">
        <button class="ponto ativo">
          <span class="material-symbols-outlined">radio_button_checked</span>
        </button>
        <button class="ponto">
          <span class="material-symbols-outlined">radio_button_unchecked</span>
        </button>
        <button class="ponto">
          <span class="material-symbols-outlined">radio_button_unchecked</span>
        </button>
      </div>

      <button class="seta seta-direita">
        <span class="material-symbols-outlined">chevron_right</span>
      </button>
    </div>
  </section>

  <script src="../../../public/js/lista-posts.js"></script>
</body>

</html>