/* FLUMINENSE */

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">   

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    
    <link rel="stylesheet" href="../../../public/css/styles1.css">
</head>

<body class="telaLogin">

    <main class="loginContainer">
        <a href="#" class="buttonFechar">
            <ion-icon name="close-outline"></ion-icon>
        </a>

        <h2>LOGIN</h2>

        <form action="#">
            
            <div class="inputBox">
                <input type="text" placeholder="USERNAME">
                <ion-icon name="person"></ion-icon>
            </div>

            <div class="inputBox">
                <input type="password" placeholder="SENHA">
            </div>

            <div class="opcoesLogin">
                <a href="#" class="esqueciSenha">Esqueci a senha</a>
            </div>

            <button type="submit" class="buttonEntrar">LOGIN</button>
        </form>
    </main>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>