<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Individual</title>
    <link rel="stylesheet" href="/public/css/post-individual.css" />
  </head>
  <body>
    <main>
      <section class="post">
        <img
          class="imagem-post-obj imagem-post"
          src="/public/assets/placeholder/sonic_basquete.png"
        />

        <div class="conteudo">
          <div class="texto">
            <h1 class="titulo">Lorem Ipsum</h1>

            <p class="descricao">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>

          <div class="footer">
            <div class="metadados">
              <span>Lorem</span>
              <span>16/05/2006</span>
            </div>

            <div class="botoes-de-compartilhar">
              <a>
                <img
                  class="compartilhar-post"
                  src="/public/assets/icons/whatsapp.png"
                />
              </a>
              <a>
                <img
                  class="compartilhar-post"
                  src="/public/assets/icons/instagram.png"
                />
              </a>
              <a>
                <img
                  class="compartilhar-post"
                  src="/public/assets/icons/facebook-messenger.png"
                />
              </a>
              <a>
                <img
                  class="compartilhar-post"
                  src="/public/assets/icons/twitter.png"
                />
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="comentarios">
        <div class="caixa-de-comentarios">
          <input
            type="text"
            id="input-comentario"
            placeholder="Digite seu comentário"
          />
          <img id="botao-de-enviar" src="/public/assets/icons/sent_arrow.png" />
        </div>
        <div class="lista-de-comentarios">
          <div class="comentario">
            <div class="user-infos">
              <img
                src="/public/assets/placeholder/blank-prof-pic.png"
                class="img-prof-picture foto-de-perfil"
              />
            </div>
            <div class="nome-de-usuario">
              <h4>user</h4>
            </div>
          </div>

          <div class="texto-do-comentario">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>

        <div class="comentario">
          <div class="user-infos">
            <img
              src="/public/assets/placeholder/blank-prof-pic.png"
              class="img-prof-picture foto-de-perfil"
            />
          </div>

          <div class="nome-de-usuario">
            <h4>user</h4>
          </div>

          <div class="texto-do-comentario">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="comentario">
          <div class="user-infos">
            <img
              src="/public/assets/placeholder/blank-prof-pic.png"
              class="img-prof-picture foto-de-perfil"
            />
          </div>
          <div class="nome-de-usuario">
            <h4>user</h4>
          </div>

          <div class="texto-do-comentario">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
